version: "3.9"
services: 
  web:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
        AUTH_SECRET: ${AUTH_SECRET}
        AUTH_TRUST_HOST: ${AUTH_TRUST_HOST}
        NEXTAUTH_URL: ${NEXTAUTH_URL}
    ports: 
      - "3000:3000"
    command: sh -c "
      pnpm prisma migrate deploy &&
      pnpm prisma generate &&
      pnpm run dev
      "
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: